@media screen and (max-width:1280px) {

    .newproduct .new_right .img_wrap img {
        width: 80%;
        margin-left: 100px;
    }


    .newproduct .new_right .img_wrap .img_2>img {
        display: none;
    }



    .newproduct .new_right {
        margin-left: 0;
        margin-top: -200px;
    }


    .newproduct .active {
        margin-top: 0;
        opacity: 1;
    }






}


/* 큰 태블릿 크기 */
@media screen and (max-width:1028px) {


    /* mainslide */
    .slide_1 {
        background: url("../img/mainpage/mainslide/1.jpg")no-repeat fixed center;
        background-size: cover;
    }

    .slide_2 {
        background: url("../img/mainpage/mainslide/2.webp")no-repeat fixed center;
        background-size: cover;
    }

    .slide_3 {
        background: url("../img/mainpage/mainslide/3.jpg")no-repeat fixed center;
        background-size: cover;
    }



    /* section3(new product) */
    .newproduct {
        height: 40vh;

    }

    .newproduct .new_left {
        width: 100%;
        text-align: center;
        padding: 5vh 0;

    }

    .newproduct .new_right {
        display: none;
        width: 0;
    }



    /* section4 (jewelry) */

    .jewelry .category .cate_wrap div {
        width: 50%;
        padding: 5vh 0;
    }



    /* section6 (tablewear) */
    .tablewear_wrap .block {
        display: none;
    }


    .tablewear_wrap {
        width: 100%;
        height: 60vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        overflow: hidden;
    }


    .tablewear_wrap .left_wrap {
        width: 90%;
        padding: 10vh 5vw;
        overflow: hidden;
    }


    .tablewear_wrap .right_wrap {
        background: url(../img/mainpage/tablewear/1.jpg)no-repeat;
        background-size: cover;
        width: 80%;
        height: 80%;
        margin: 8vh 0;
        overflow: hidden;
    }



}






/* 큰 모바일 크기  */
@media screen and (max-width:768px) {




    /* section1 (designers) */
    .con1_wrap_right .title2 p {
        display: none;
    }




    /* section5 (about) */
    .about_wrap_top .text {
        padding: 3vh 0;
    }



    .about_wrap_top .text p {
        padding: 1vh 6vw;
        font-size: calc(0.56vw + 15px);
    }


    /* section6 (tablewear) */
    .tablewear p {
        display: none;
    }



    .tablewear_wrap {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr 2fr);
        overflow: hidden;
    }


    .tablewear_wrap .left_wrap {
        text-align: center;
        width: 100%;
        height: 30vh;
        padding: 5vh 0;
        margin-left: 0;
        margin-top: 0;
        opacity: 1;
    }




    .tablewear_wrap button {
        margin-top: 3vh;
    }



    .tablewear_wrap .right_wrap {
        background: url(../img/mainpage/tablewear/1.jpg)no-repeat;
        background-size: cover;
        width: 80%;
        height: 80%;
        margin: 0 auto;
        overflow: hidden;
    }















}



/* 일반적인 모바일 크기 */
@media screen and (max-width:550px) {

    /* mainslide */
    .slide {
        width: 100%;
        height: 80vh;
        overflow: hidden;
        position: relative;
    }


    .scroll_down {
        width: 100%;
        text-align: center;
        font-size: 18px;
        z-index: 9;
        cursor: pointer;
        position: absolute;
        top: 60vh;
        padding: 10px 0;
        color: #fff;

    }


    /* section1 (designers) */
    .con1_wrap {
        width: 100%;
        height: 30vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr 2fr);

    }


    .con1_wrap_left {
        display: none;
    }



    .con1_wrap_right {
        order: -1;
        height: 30vh;
        padding: 0;
    }


    .con1_wrap_right button {
        margin-top: 4vh;
    }




    /* section4 (jewelry) */
    .jewelry .category .cate_wrap div {
        width: 100%;
    }




    /* section5  */
    .about_wrap_top .img {
        display: none;
    }


    .about_wrap_btm {
        height: 20vh;
    }


    .about_wrap_btm button {
        width: 80%;
        padding: 2vh 0;
    }



    /* section6 (tablewear)*/
    .tablewear_wrap .right_wrap {
        display: none;
    }



    .tablewear_wrap {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow: hidden;
    }



}